.navbar {
  padding: 0 2rem;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  background: #6D6D6D;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.5vw 3vw;
}

.leftnav {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.link {
  margin-right: 1vw;
}

.logo {
  margin-right: 1vw;
}