.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(203, 221, 255); */
  padding: 1%;
  /* margin: 0 35vw; */
}

.input {
  padding: 0.8vw;
  border: 1px solid cornflowerblue;
  margin-top: 0.9vw;
  border-radius: 8px;
  min-width: 15vw;
  text-align: center;
}

.button {
  background-color: #2830f8;
  color: white;
  border: 1px solid cornflowerblue;
  padding: 0.9vw;
  margin-top: 2vw;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(0, 63, 158);
}
