<!doctype html>
<html>
<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">

    <style>
        h1{
            color: lightseagreen;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 1px solid #4CAF50; /* Green */
            padding: 0.8rem;
            border-radius: 10px;
            font-size: 1rem;
        }

    </style>



</head>

<body>
<!-- -->
<h3>{{text}}</h3>
<h1><")))><</h1>
<a href={{phishedLink}}><button class="button1">Click Here </button></a>


</body>
</html>