{{!-- Two variables: targetName and dateTime --}}

<!DOCTYPE html>
<html>
<head>
    <title>Consent</title>
    <meta name="description" content="Our second page">
    <meta name="keywords" content="html tutorial template 2">

    <style>
        h2{
            color: #459cfb ;
            font-family: 'verdana';
        }

        .blank {
          margin: 5rem;
          font: 'verdana'
        }
    </style>

</head>

<body>
    <div id="data">
      <h2>PHISHED.CO</h2>
      {{!-- <img src="../public/LOGO.svg" alt="logo" width="200" height="200" /> --}}
    </div>
        

    <hr />
    <div>
        <p>Hello {{targetName}},</p>
        <p>We recently received a request for a phishing education campaign against you.</p>
        <p>By clicking the link below, you give us consent, and it will take you to our website.</p>
        <p>Thank you.</p>
           <a href="http://localhost:3000/consent">
          <strong> I give consent to the phishing campaign.</strong>
           </a>
        <p>Enjoy your phishing campaign.</p>
        <br />
         <p>Best regards,</p>
         <p>Phished.Co Team</p>
    </div>
    <div class="blank"/>
    <div>
      <a href="http://localhost:3000/">
         Visit Phished.Co Website
      </a>      
      <br/>
      <br/>
      <br/>
      
      
    </div>

</body>
</html>
