<!doctype html>
<html>
<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">

    <style>
        h1 {
          color: #459cfb;
        }

        .team {
          color: #459cfb;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50; /* Green */
        }

        .box {
          font-size: 18px;
          font-family: 'verdana';
          padding: 2rem;
          margin: 1.5rem;
        }

       
    </style>


</head>
<body>
<div id="data">
      <h1>PHISHED</h1>
     
</div>
<hr />
<div class="box">
<p>Your Phishing Target, {{targetName}} {{targetEmail}}, just aceept your consent request.</p>
<p>
Visit <strong><a href={{link}}>Phished Website</a> </strong>
to start your phishing campaign!</p>
<p>See you soon!</p>
<p>Thank you.</p>
<br />
<h2 class="team">PHISHED TEAM</h2>
</div>

</body>
</html>