<!doctype html>
<html>
<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">

    <style>
        h1{
            color: lightseagreen;
        }

        div {
          margin: 2rem 0;
          
        }


        a {
          margin-top: 5rem;
          
        }
    </style>



</head>

<body>
  <div>
    <br/>
<p>{{text}}</p>
<br />
<br />
<br />

<a href={{phishedLink}}>Click Here</a>
<br />
<br />
<a href={{unsubscribeLink}}>unsubscribe</a>
</div>

</body>
</html>