<!doctype html>
<html>
<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">

    <style>
        h1{
            color: lightseagreen;
        }
    </style>



</head>

<body>
<p>{{text}}</p>
<a href={{phishedLink}}>Click Here</a>


</body>
</html>