{{!-- One variable: name --}}

<!DOCTYPE html>
<html>
<head>
    <title>Collaborate on a new document</title>
    <meta name="description" content="Collaborate">
    <meta name="keywords" content="Collaborate">
<style>
p {
margin-bottom: 2rem;
}
.btn {
color: white;
background: #4283F3;
padding: 0.5rem;
border-radius: 4px;
}
.btn:hover {
background: #5a8ce3;
}
</style>

<body>
  
  <br />
  <h2>Google Docs</h2>
  <hr />
  <p>{{bodyName}} has invited you to collaborate on the following document:</p>
  <br />
  <br />
  <br />
<a class="btn" href={{phishedLink}}>Open in Docs</a>
  <a href={{unsubscribeLink}}>Unsubscribe</a>
  <br />
  <br />
  <br />
</body>
</html>