{{!-- One variable: name --}}

<!DOCTYPE html>
<html>
<head>
    <title>Collaborate on a new document</title>
    <meta name="description" content="Collaborate">
    <meta name="keywords" content="Collaborate">
<style>
p {
margin-bottom: 2rem;
}
.btn {
color: white;
background: #4283F3;
padding: 0.5rem;
border-radius: 4px;
}
.btn:hover {
background: #5a8ce3;
}
</style>

<body>
  <p>{{name}} has invited you to collaborate on the following document:</p>
<a class="btn" href="http://localhost:3000/youPhished">Open in Docs</a>
</body>
</html>