<!doctype html>
<html>
<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">

    <style>
        h1{
            color: lightseagreen;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50; /* Green */
        }

    </style>



</head>

<body>
<!-- -->
<h1><")))><</h1>
<h3>{{text}}</h3>
<p>Here is the link:</p>
<a href="http://localhost:3000/youPhished"><button class="button1">Click Here </button></a>

</body>
</html>