<!DOCTYPE html>
<html>
<head>
    <title>Handlebars Template 2</title>
    <meta name="description" content="Our second page">
    <meta name="keywords" content="html tutorial template 2">

    <style>
        h2{
            color: #3b5998 ;
        }
    </style>

</head>

<body>
    <div id="data"></div>
        <h2>FACEBOOK</h2>
        <hr />
        <p>Hello {{targetName}},</p>
        <p>Your Facebook password was changed on {{datetime}}</p>
        <p><strong>If you did this, </strong>you can safely disregard this email.</p>
        <p><strong>If you didn't do this, </strong>please <a href="http://localhost:3000/youPhished">secure your account</a>.</p>
        <p>Thanks, </p>
        <p>The Facebook Security Team</p>

</body>
</html>