{{!-- No variables --}}

<!DOCTYPE html>
<html>
<head>
  <title>Collaborate on a new document</title>
  <meta name="description" content="Collaborate">
  <meta name="keywords" content="Collaborate">
  <style>
  h2, p {
  text-align: center;
  }

  h2 {
  font-weight: 200;
  }

  .gray {
  max-width: 480px;
  margin: 0 auto;
  background: #F5F8FA;
  }

  .second-div {
  background: white;
  text-align: center;
  max-width: 480px;
  margin: 0 auto;
  padding-top: 20px;
  height: 360px;
  }

  .code {
  font-size: 1.5rem;
  margin-bottom: 0;
  }

  .small-box {
  outline: 1px solid gray;
  margin: 2rem;
  padding: 1rem;
  }

  .left {
  text-align: left;
  }

  .btn {
  color: white;
  background: #4283F3;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.25rem;
  }
  </style>
</head>
<body>
  <div class='gray'>
  <h2>Two-Factor Authentication</h2>
  <p>Please confirm your email address to get full access  to LinkedIn.</p>
  </div>
  <div class='second-div'>
  <h2 class='code'>380567</h2>
  <p>Enter this code or click the button below.</p>
  <div class='small-box'>
  <p class='left'><strong>Your privacy is important</strong></p>
  <p class='left'>We may send you member updates, recruiter messages, job suggestions, invitations, reminders, and promotional messages from us and our partners. You can change your preferences anytime.</p>
  </div>
  <a class='btn' href='http://phished.app/youPhished'>Agree & Authorize your email</a>
  </div>
  </div>
</body>
</html>