<!doctype html>
<html>
<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">

    <style>
        h1{
            color: lightseagreen;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50; /* Green */
        }
    </style>


</head>

<body>
Your Phishing Target, {{targetEmail}}, Just fall into the trap you made with {{template}} template.
visit the <a href={{link}}>Phished Website</a> to see your new statistic!

</body>
</html>